<a href="https://colab.research.google.com/github/mounaky/ML_2023/blob/main/Basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bassics of python

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Hello \n World")

Hello
 World

In [ ]:
print("hello \\n world")

hello \n world

In [ ]:
print("First Line\nSecond Line\nThird Line")

First Line
Second Line
Third Line

In [ ]:
print('''First line
Second line
Third line''')

First line
Second line
Third line

In [ ]:
print("""First line
second Line
third line""")

First line
second Line
third line

In [ ]:
print('hello','world', sep='---')
print('hello','world', sep='\t')
print('hello','world', sep='\n')

hello---world
hello	world
hello
world

In [ ]:
10-10*2

-10

In [ ]:
print(10-5*2)

0

In [ ]:
10%6

4

In [ ]:
3//2

1

In [ ]:
3/2

1.5

In [ ]:
round(1.5)

2

In [ ]:
round(1.5555,2)

1.56

2 to the power of 3

In [ ]:
2**3

8

variables

In [ ]:
_variables = 0
variable=0
variable1=0

two variables

In [ ]:
FirstSecond=0
First_Second=0

In [ ]:
a=b=c=1

In [ ]:
print(a,b,c)

1 1 1

reading input

In [ ]:
a= input()

3

In [ ]:
a=input("enter a number: " )

enter a number: 22

In [ ]:

print(type(a))

<class 'str'>

read 3 vcalues from the user which consists integer as well as decimal
print type of data for all 3 values
later convert it into integer and floating point number resp...

In [ ]:
a = int(input("enter first number : "))
b = int(input("enter Second number : "))
c = int(input("enter third number : "))

print(type(a),type(b),type(c))

a=int(a)
print(type(a))

enter first number : 1
enter Second number : 2
enter third number : 3
<class 'int'> <class 'int'> <class 'int'>
<class 'int'>

In [ ]:
a = 'hello'
print(type(a))
print(a)

<class 'str'>
hello

a = Hello print o a = world print c

In [ ]:
a = input("enter a string ")
print(a[4])

enter a string helloworld
o

In [ ]:
a = input("enter a string ")
print(a[-2])

enter a string helloworld
l

In [ ]:
length_str=len(a)
print(length_str)

10

In [ ]:
length_str=len(a)
print(a[length_str-1])

d

In [ ]:
print(a[0:4])

hell

In [ ]:
a=input("enter a string  " )
print(a[::-1])

enter a string  mou
uom

In [ ]:
a=input("enter a string  " )
print(a[0::-1])

enter a string  mouna
m

string slicing with step size

In [ ]:
str2 ='helloworld'
print(str2[::2])

hlool

prgm to check if a given string is palindrome

In [ ]:
str1=input("enter a string ")
str2=str1[::-1]
print(str1==str2)

enter a string mouna
False

In [ ]:
str1=input("enter a string ")
str2=str1[::-1]
print(str1==str2)

enter a string Mom
False

In [ ]:
str1=input("enter a string ")
str1=str1.casefold() #lower()
print(str1)
str2=str1[::-1]
print(str1==str2)

enter a string MOUN
moun
False

In [ ]:
str1=input("enter a string ")
str1=str1.upper() #capitalize() 
print(str1)
str2=str1[::-1]
print(str1==str2)

enter a string dacf
DACF
False

In [ ]:
print(dir(str2))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
#my age is xx
age =(input("enter your age"))
print("my age is" +age)

enter your age52
my age is52

In [ ]:
#your order for 10 quantities of produt_name priced at 1000 is confirmed quantity ,product name,price

quantity =10
product_name ='product_B'
price =1000
print("your product is +str(quantity)+str(product_name)+str(price)")

your product is +str(quantity)+str(product_name)+str(price)

In [ ]:
print(f'your orde for {quantity} of {product_name} priced at {price} is confirmed')

your orde for 10 of product_B priced at 1000 is confirmed

In [ ]:
#My name is,I'm of age "studying in * branch *sem,*(college)"

name=input("enter the name: ")
age=input("enter the name: ")
sem=input("enter the name: ")
branch=input("enter the name: ")
college=input("enter the name: ")

print(f'My name is {name} of {age} years ,studting in {branch},{college}')

enter the name: mouna
enter the name: 22
enter the name: 7
enter the name: cse
enter the name: AIT
My name is mouna of 22 years ,studting in cse,AIT

In [ ]:
print("hello"=='hello')

True

In [ ]:
#conditional statements

#if else
x=input()
y=input()

if x>y:
  print("x is greater than y")
else:
  print("y is greater than x")

10
11
y is greater than x

In [ ]:
x=int(input('x: '))
y=int(input('y:'))

if x>y :
  print(f'{x} is greater than {y}')
elif x==y:
  print(f'{x} is equal to{y}')
else:
  print(f'{y} is greater than {x}')     #else :
                                           # print(f'{x}={y}')

x: 20
y:20
20 is equal to20

In [ ]:
#display all the two digit numbers where the number and its reverse are divisible by 3

for i in range(10,100):
  temp=str(i)
  rev=int(temp[1]+temp[0])
  if i%3==0 and rev%3==0:
     print(i, end=' ')

12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [ ]:
#write a pgm to find the highest common factor of 2 numbers

import math
print(math.gcd(10,34))

2

In [ ]:
num1=int(input('num1: '))
num2=int(input('num2: '))

if num1>num2:
  smallest=num2
else:
  smallest=num1

  for i in range(1,smallest+1): #2 -> 1,2
    if num1%i==0 and num2%i==0:
      hcf=i

print(f'HCF = {hcf}')

num1: 2
num2: 4
HCF = 2

In [ ]:
#lists
l1=['a','b','c',1]
print(l1)
print(type(l1))

['a', 'b', 'c', 1]
<class 'list'>

In [ ]:
print(l1[:2])

['a', 'b']

In [ ]:
print(l1[1:])

['b', 'c', 1]

In [ ]:
print(l1[2:])

['c', 1]

In [ ]:
l1=[1,2,3,'a','b','c']
print(l1[0::2])

[1, 3, 'b']

In [ ]:
print(l1[::-1])

['c', 'b', 'a', 3, 2, 1]

In [ ]:
print(l1[2])

3

In [ ]:
l1[2]=4

In [ ]:
print(l1[2])

4

In [ ]:
print(l1)

[1, 2, 4, 'a', 'b', 'c']

In [ ]:
l1[1:3]=[1]

In [ ]:
l1.append('d')
print(l1)

[1, 1, 'a', 'b', 'c', 'd']

In [ ]:
l1.insert(0,'e')
print(l1)

['e', 1, 1, 'a', 'b', 'c', 'd']

In [ ]:
l2=['f','g','h']
l1.extend(l2)
print(l1)

['e', 1, 1, 'a', 'b', 'c', 'd', 'f', 'g', 'h']

In [ ]:
l2=['h','g','i']
l2.sort()
print(l2)

['g', 'h', 'i']

In [ ]:
l2.reverse()
print(l2)

['i', 'h', 'g']

In [ ]:
del l2[1]
print(l2)

['i', 'g']

In [ ]:
#using for loop. print individual items within a list

l1=['a','b','c']
#a
#b
#c
for i in l1:
  print(i,end='')

abc

In [ ]:
print(l1)
print(*l1)

['a', 'b', 'c']
a b c

write a pgm to check if a specific items is present within the list
l1=['a','b','c,'d,]
search_for='e'
if 'e' is present within l1, then print the item found

In [ ]:
l1=['a','b','c','d']
search_for=input('item to search: ')
flag1=0
flag2=0

for i in l1:
  if i ==search_for:
   # print('item found')
    flag1=1
  else :
   # print('itrem is not found')
    flag2=1
  if flag1==1:
    print('item is found')
  else:
    print('item is not found')

item to search: e
item is not found
item is not found
item is not found
item is not found

working with lists in python
1. create a list of the following numbers 1,2,3,4,5
2. add the number 6 to the end of the list
3. remove the num 2 frm the list
4.sort the list in the ascendind order
5.reverse the list
6.print the length of the list
7,print the third item in  the list here's one way to solve the execrice in python code

In [ ]:
l1=[1,2,3,4,5]
print(l1)

l1.append(6)
print(l1)

del l1[1]  # l1.remove(2)
print(l1)

l1.sort()
print(l1)

l1.reverse() #print(l1[::-1])
print(l1)
print(len(l1))

print(l1[3])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 3, 4, 5, 6]
[1, 3, 4, 5, 6]
[6, 5, 4, 3, 1]
5
3

create a list of squares of num frm 0 to9 without list comprehension

In [ ]:
l1=[]
for i in range(0,10):
  (l1.append(i**2))
print(l1)  

#create a list of squares of num frm 0 to 9 with list comprehension

l1= [i**2 for i in range(10)]
print(l1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# create a list of cube of numbers frm 0 to 50 without list compr...

l1=[]
for i in range(50):
   i=i**3
   l1.append(i)
print(l1)


# create a list of cube of numbers frm 0 to 50 with list compr...

l1=[i**3 for i in range(50)]
print(l1)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649]

In [ ]:
#create a list of evevn numbers frm a given list numbers by using list compre..

#numbers=[1,2,3,4,5,6,7]  
#o/p=[2,4,6]

num=[1,2,3,4,5,6,7]
even_num=[i for i in num if i%2==0]
print(even_num)

[2, 4, 6]

In [ ]:

# ASCII 

char1 ='a'
ASCII=ord(char1)
print(char1)
print(ASCII)

a
97

In [ ]:
#ASCII(a)-ASCII(A) = 97 -65=32
#i/p: 'a' --> ASCII =97
#convert to uppercase

In [ ]:
#write a pgm to convert  upper case to lower case and vise versa

char2 =input("enter a character: ")
ASCII =ord(char2)

#i/p is uppercase
if ASCII>64 and ASCII <91:
  print("input charcter is in uppercase")
  ASCII+=32
  small_case=chr(ASCII)
  print(small_case)

elif ASCII<123 and ASCII>96:
  print("input character is in lowercase")
  ASCII-=32
  upper_case=chr(ASCII)
  print(upper_case)

else:
  print("invalid input")

enter a character: a
input character is in lowercase
A

In [ ]:
 #LIST : collection of items, where items are ordered,changeable,allowed duplicates

#Tuple:collection of items, where items are ordered,unchangeable,allow duplicates

t1=(1,2,3,4,5)
print(type(t1))

<class 'tuple'>

In [ ]:
t2=3,4,5
print(type(t2))

<class 'tuple'>

In [ ]:
#create a tuple containing 1 item and print its type

t3=4
print(type(t3))


t3=4,                               #t3=('a,)
print(type(t3))

<class 'int'>
<class 'tuple'>

In [ ]:
#tuple containing numbers from 0 to 9


t5= tuple(range(0,10))
print(t5)
print(type(t5))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [ ]:
#list to tuple

l1=[1,2,3,4,5]
t6=tuple(l1)
print(t6)

l2=list(t6)
print(l2)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]

In [ ]:
#items are ordered

t1=1,2,3,4,5,6
print(t1)
print(t1[2])

print(t1[1:4:2])

print(t1[::-1])

(1, 2, 3, 4, 5, 6)
3
(2, 4)
(6, 5, 4, 3, 2, 1)

In [ ]:
#items are not changeable

t1=1.2.3.4.5.6
print(t1[2])
t1[2]

SyntaxError: ignored

In [ ]:
#tuple methods

t1=1,2,3,4,5
l1=list(t1)
print(l1)
l1.append(6)
print(l1)
l1=tuple(l1)
print(l1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [ ]:
# set :collection   of items, where the items are unordered, dont allow duplicates
# memory is not allocated only during runtime , 10 time faster than list and tuple

s1={1,2,3}
print(type(s1))

<class 'set'>

In [ ]:
print(s1[0])

TypeError: ignored

In [ ]:
#write a pgm to search for an item in a SET
#i/p: s1={1,2,3,4,5}
#o/p: search item ids found or not 


s1={1,2,3,4,5}
search_item=int(input("enter the input to search:  "))
flag1=0
flag2=0

for item in s1:
  if item==search_item:
    print('item found')
  else:
    print('item is not found')

enter the input to search:  5
item is not found
item is not found
item is not found
item is not found
item found

In [ ]:
#set methods
s1={1,2,3,4}
s2={'a','b','f'}
s1.update(s2)
print(s1)

#to remove the content

s1.remove('a')
print(s1)

s1.discard('f')
print(s1)

{1, 2, 3, 4, 'f', 'b', 'a'}
{1, 2, 3, 4, 'f', 'b'}
{1, 2, 3, 4, 'b'}

In [ ]:
#set opertions
 
s1={'a','b','c','d'}
s2={'c','d','e','f','g'}

 #union
s3=s1.union(s2)
print('union: ',s3)

#intersection
s3=s1.intersection(s2)
print('intersection: ',s3)


#symmetric difference
s5=s1.symmetric_difference(s2)
print('s1-s2: ',s5)

union:  {'c', 'f', 'g', 'd', 'e', 'b', 'a'}
intersection:  {'c', 'd'}
s1-s2:  {'b', 'g', 'e', 'f', 'a'}

In [ ]:


break_end_time= '11:15'  #hr:mins
actual_break_time='11:35'
total_time= 15

break_end_time_sep = break_end_time.split(sep=':')
actual_break_time_sep= actual_break_time.split(sep=':')

print(break_end_time_sep[0],break_end_time_sep[1])
print(actual_break_end_time_sep[0] , actual_break_end_time_sep[1])

diff_hrs = int(actual_break_end_time_sep[0])-(break_end_time_sep[0])
diff_mins = int(actual_break_end_time_sep[1])-(break_end_time_sep[1])
print('difference in hours : ',diff_hrs)
print('difference in minutes : ',diff_mins)

exceed_time= diff_mins
print(f'Exceed time in mins: {exceed_time}')

exceed_time_in_per=100*(exceed_time/total_break_time)
print(f'Exceed time in %: {exceed_time_in_perc}')

print(f'total time wasted in hrs : {exceed_time*15*3/60}')
print(f'total time wasted in mins : {exceed_time*15*3/60}')

11 15

NameError: ignored

In [ ]:
#dictionary : collection of items,where items are ordered ,changeable and dont allow duplicates

#items in key:value pair

d1={
    'Name':'mou',
    'Age' :200,
    'city' : 'HSN'
}
print(d1)

print(d1['Name'])

{'Name': 'mou', 'Age': 200, 'city': 'HSN'}
mou

In [ ]:
d2 = {
    0:'name',
    1:'age',
    2:'place'
}
print(d2)

print(d2[1])

{0: 'name', 1: 'age', 2: 'place'}
age

In [ ]:
d3 ={
    3:[1,2,3],
    4:'mou'
}
print(d3)

print(d3[3])

print(d3[3][0])

{3: [1, 2, 3], 4: 'mou'}
[1, 2, 3]
1

In [ ]:
#dict... methods

#get
d4 ={
    'key1':'firstvalue',
    'key2':'secondvalue'
}
print(d4.get('key1'))

#values
print(d4.values())

#keys
print(d4.keys())

firstvalue
dict_values(['firstvalue', 'secondvalue'])
dict_keys(['key1', 'key2'])
secondvalue

In [ ]:
#write pgm to make 'key1' content seconvalue

d4 ={
    'key1':'firstvalue',
    'key2':'secondvalue'
}
d4['key1']='secondvalue'
print(d4)

{'key1': 'secondvalue', 'key2': 'secondvalue'}

In [ ]:
#use for loop to iterate over keys
d1 = {
    'Name' :'python',
    'LastName':'pgm',
    'age':35,
    'module':True
}
for i in d1:
  print(i)
print()

for i in d1.values():
    print(i)

for i,j in d1.items():
      print(f'{i}:{j}')

Name
LastName
age
module

python
pgm
35
True
Name:python
LastName:pgm
age:35
module:True

In [ ]:
#function : user defined block of code which runs whn called

def function_name(parameter1,parameter2):
  #function code

  function_name(val1,val2)

In [ ]:
def print_name(name='mou'):
  print(name)
print_name()

mou

In [ ]:
def print_name(*name):
  print(name) 
print_name('name1','name2','name3')

('name1', 'name2', 'name3')

In [ ]:
def print_name(*name):
  for i in name:
   print(name)
print_name('name1','name2','name3')

('name1', 'name2', 'name3')
('name1', 'name2', 'name3')
('name1', 'name2', 'name3')

In [ ]:
#write a function which takes your weight on earth  and returns the weight on moon and mars
#weight = mass* acceleration due to gravity
#accceleration due to gravity = 9.81 m/s2
#weighht on moon = mass*accel due to gravity_on_moon
#accel due to gravi_on_moon =1.621
#accel due to gravi_on_moon =3.711

def find_weight(weight):
  mass = weight/9.81

  weight_moon = mass*1.621
  weight_mars = mass*3.711
  print(f'weight on moon : {weight_moon} kgs')
  print(f'weight on mars : {weight_mars} kgs')
weight = float(input('enter weight in kg: '))
find_weight(weight)

enter weight in kg: 2
weight on moon : 0.33047910295616717 kgs
weight on mars : 0.7565749235474005 kgs

In [ ]:
def find_weight(weight):         #return
  mass = weight/9.81

  weight_moon = mass*1.621
  weight_mars = mass*3.711
  return weight_moon,weight_mars

weight = float(input('enter weight in kg: '))
w_moon,w_mars=find_weight(weight)
print(f'moon: {w_moon}')
print(f'mars: {w_mars}')

enter weight in kg: 2
moon: 0.33047910295616717
mars: 0.7565749235474005