<a href="https://colab.research.google.com/github/mounaky/ML_2023/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#pandas : python library used for working  with data sets 

import numpy as  np
import pandas as pd

In [ ]:
#create a data frame

my_data = np.array([[1,2],[3,4],[5,6]])
print(my_data.shape)

my_column_names =['x','y']

my_dataframe = pd.DataFrame(data=my_data ,columns = my_column_names)
                            
print(my_dataframe)

(3, 2)
   x  y
0  1  2
1  3  4
2  5  6

In [ ]:
my_data  = np.array([[1,2,3],[3,4,3],[5,6,7],[7,8,5]])
print(my_data.shape)

my_column_names= ['x','y','z']
my_dataframe = pd.DataFrame(data=my_data ,columns = my_column_names)
print(my_dataframe)

(4, 3)
   x  y  z
0  1  2  3
1  3  4  3
2  5  6  7
3  7  8  5

In [ ]:
#adding addtional col using pandas

my_data  = np.array([[1,2,3],[3,4,3],[5,6,7],[7,8,5]])
print(my_data.shape)

my_column_names= ['x','y','z']
my_dataframe = pd.DataFrame(data=my_data ,columns = my_column_names)
my_dataframe['a']= my_dataframe['x']+my_dataframe['y']+my_dataframe['z'] +3 # adds the additonal col 
print(my_dataframe)

(4, 3)
   x  y  z   a
0  1  2  3   9
1  3  4  3  13
2  5  6  7  21
3  7  8  5  23

In [ ]:
my_data  = np.array([[1,2,3],[3,4,3],[5,6,7],[7,8,5]])
print(my_data.shape)

my_column_names= ['x','y','z']
my_dataframe = pd.DataFrame(data=my_data ,columns = my_column_names)
my_dataframe['a']= my_dataframe['x']+my_dataframe['y']+my_dataframe['z'] 
my_dataframe['b']=my_dataframe['x']+my_dataframe['y']+my_dataframe['a'] +3 #broadcasting method
print(my_dataframe)

(4, 3)
   x  y  z   a   b
0  1  2  3   6  12
1  3  4  3  10  20
2  5  6  7  18  32
3  7  8  5  20  38

In [ ]:
df = pd.read_csv('/content/Book1.csv') #folder symbol-> upload symbol-> right click -> copy path.
print(df)

   col1  col2  col3
0     1     2     3
1     3     4     7
2     5     6    11

In [ ]:
df = pd.read_csv('https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv ')
print(df)

print(df.tail(10))
print(df.head(10))

df.drop_duplicates(inplace=True)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
16990    -124.22     41.73                28.0       3003.0           699.0
16991    -124.23     41.75                11.0       3159.0           616.0
16992    -124.23     40.81                52.0       1112.0           209.0
16993    -124.23     40.54                52.0       2694.0           453.0
16994    -124.25     40.28                32.0       1430.0           419.0
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
16990      1530.0       653.0         1.7038             78300.0
16991      1343.0       479.0         2.4805             73200.0
16992       544.0       172.0         3.3462             50800.0
16993      1152.0       435.0         3.0806            106700.0
16994       434.0       187.0         1.9417             76100.0
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0
3    -114.57     33.64                14.0       1501.0           337.0
4    -114.57     33.57                20.0       1454.0           326.0
5    -114.58     33.63                29.0       1387.0           236.0
6    -114.58     33.61                25.0       2907.0           680.0
7    -114.59     34.83                41.0        812.0           168.0
8    -114.59     33.61                34.0       4789.0          1175.0
9    -114.60     34.83                46.0       1497.0           309.0

   population  households  median_income  median_house_value
0      1015.0       472.0         1.4936             66900.0
1      1129.0       463.0         1.8200             80100.0
2       333.0       117.0         1.6509             85700.0
3       515.0       226.0         3.1917             73400.0
4       624.0       262.0         1.9250             65500.0
5       671.0       239.0         3.3438             74000.0
6      1841.0       633.0         2.6768             82400.0
7       375.0       158.0         1.7083             48500.0
8      3134.0      1056.0         2.1782             58400.0
9       787.0       271.0         2.1908             48100.0

In [ ]:
df=pd.read_csv('/content/Book2.csv')
print(df)

df.dropna(inplace=True) 
print(df)      #remave the rows

df.drop_duplicates(inplace=True)
print(df)

    weight  height        BMI
0       50     1.6  19.531250
1       49     2.6   7.248521
2       56     6.4   1.367188
3       67     5.6   2.136480
4       45     4.6   2.126654
5       56     4.6   2.646503
6       34     2.3   6.427221
7       67     4.5   3.308642
8       56     5.6   1.785714
9       57     3.4   4.930796
10      67     1.2  46.527778
11      46     3.4   3.979239
12      45     4.5   2.222222
    weight  height        BMI
0       50     1.6  19.531250
1       49     2.6   7.248521
2       56     6.4   1.367188
3       67     5.6   2.136480
4       45     4.6   2.126654
5       56     4.6   2.646503
6       34     2.3   6.427221
7       67     4.5   3.308642
8       56     5.6   1.785714
9       57     3.4   4.930796
10      67     1.2  46.527778
11      46     3.4   3.979239
12      45     4.5   2.222222
    weight  height        BMI
0       50     1.6  19.531250
1       49     2.6   7.248521
2       56     6.4   1.367188
3       67     5.6   2.136480
4       45     4.6   2.126654
5       56     4.6   2.646503
6       34     2.3   6.427221
7       67     4.5   3.308642
8       56     5.6   1.785714
9       57     3.4   4.930796
10      67     1.2  46.527778
11      46     3.4   3.979239
12      45     4.5   2.222222

In [ ]:
df = pd.DataFrame({
     'col1':[1,2,3],
     'col2':[4,5,6]
})
print(df)

   col1  col2
0     1     4
1     2     5
2     3     6

In [ ]:
my_data  = pd.read_csv('bmi.csv')
print(my_data)
my_column_names= ['weight','height','BMI']
my_dataframe = pd.DataFrame(data=my_data ,columns = my_column_names)
my_dataframe['BMI']= my_dataframe['weight']/(my_dataframe['height']*my_dataframe['height'])
print(my_dataframe)

    weight  height
0       50     1.6
1       49     2.6
2       56     6.4
3       67     5.6
4       45     4.6
5       56     4.6
6       34     2.3
7       67     4.5
8       56     5.6
9       57     3.4
10      67     1.2
11      46     3.4
12      45     4.5
    weight  height        BMI
0       50     1.6  19.531250
1       49     2.6   7.248521
2       56     6.4   1.367187
3       67     5.6   2.136480
4       45     4.6   2.126654
5       56     4.6   2.646503
6       34     2.3   6.427221
7       67     4.5   3.308642
8       56     5.6   1.785714
9       57     3.4   4.930796
10      67     1.2  46.527778
11      46     3.4   3.979239
12      45     4.5   2.222222

In [ ]:
df=pd.read_csv('/content/Book2.csv')
print(df)

df.dropna(inplace=True)
df.drop_duplicates(inplace=True)

df['BMI']=df['weight']/((df['height'])**2)
print(df)

#next craete a col  called results and fill it with None
#df ['result']=

df=df.assign(Result=None) #create a empty result col
print(df)

#accessing BMI values row-wise

#we need to get index for 1st col 'result' as well as value in 1st row of col 'BMI'

#with below procedure, we cant accomplish it , hence make use of method iteritems
#for i in df['BMI']:
  #print('BMI')
  #for j in range(0,len(df['BMI'])):
   # if i<20:
      #df[df.result] ='cat1'
    #  pass
for index, value in df['BMI'].iteritems(): #access the contents
  if value<20:
    df.at[index,'Result'] ='cat1'
  elif value>=20 and value<21:
    df.at[index,'Result'] ='cat2'
  else:
    df.at[index,'Result'] ='cat3'
print(df)

    weight  height        BMI
0       50     1.6  19.531250
1       49     2.6   7.248521
2       56     6.4   1.367188
3       67     5.6   2.136480
4       45     4.6   2.126654
5       56     4.6   2.646503
6       34     2.3   6.427221
7       67     4.5   3.308642
8       56     5.6   1.785714
9       57     3.4   4.930796
10      67     1.2  46.527778
11      46     3.4   3.979239
12      45     4.5   2.222222
    weight  height        BMI
0       50     1.6  19.531250
1       49     2.6   7.248521
2       56     6.4   1.367187
3       67     5.6   2.136480
4       45     4.6   2.126654
5       56     4.6   2.646503
6       34     2.3   6.427221
7       67     4.5   3.308642
8       56     5.6   1.785714
9       57     3.4   4.930796
10      67     1.2  46.527778
11      46     3.4   3.979239
12      45     4.5   2.222222
    weight  height        BMI Result
0       50     1.6  19.531250   None
1       49     2.6   7.248521   None
2       56     6.4   1.367187   None
3       67     5.6   2.136480   None
4       45     4.6   2.126654   None
5       56     4.6   2.646503   None
6       34     2.3   6.427221   None
7       67     4.5   3.308642   None
8       56     5.6   1.785714   None
9       57     3.4   4.930796   None
10      67     1.2  46.527778   None
11      46     3.4   3.979239   None
12      45     4.5   2.222222   None
    weight  height        BMI Result
0       50     1.6  19.531250   cat1
1       49     2.6   7.248521   cat1
2       56     6.4   1.367187   cat1
3       67     5.6   2.136480   cat1
4       45     4.6   2.126654   cat1
5       56     4.6   2.646503   cat1
6       34     2.3   6.427221   cat1
7       67     4.5   3.308642   cat1
8       56     5.6   1.785714   cat1
9       57     3.4   4.930796   cat1
10      67     1.2  46.527778   cat3
11      46     3.4   3.979239   cat1
12      45     4.5   2.222222   cat1